################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProductManagementDemo/FileContentIndex/098cb6bc-2726-4851-a233-2eb95ab3dd1a.vsidx
/.vs/ProductManagementDemo/FileContentIndex/2c4eda60-d550-4ea4-b505-d7c43846b17d.vsidx
/.vs/ProductManagementDemo/FileContentIndex/2d96ae83-fa50-4151-abc1-198e76083af4.vsidx
/.vs/ProductManagementDemo/FileContentIndex/b0bfb1e6-1416-41e2-a472-fa9ea8af7a2e.vsidx
/.vs/ProductManagementDemo/FileContentIndex/b905fcbe-e976-4840-a52e-e18ef321cca7.vsidx
